.about-left-col {	
	height: 100vh;	
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);	
}

.about-white {
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	padding-top: 70%;
}
.about-hr {
	border-color: #fff;	
	width: 50%;
}

.about-links {
	margin-left: -20px;
	padding: 10px;
	margin-top: 268px;	
}
.about-link {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;

}
.about-intra-links {	
	display: inline-block;	
	
}
.about-right-col {
	
	
	
	
}
.about-right-col-content {
	height: 100%;
	padding: 50px 50px 50px 50px;

	color: black;
	overflow-y: scroll;	

}
.hr-line {
	margin-top: 20px;
	margin-bottom: 20px;
}
.learn {
	letter-spacing: 3px;
	font-size: 15px;
}
.heading {
	font-weight: bold
}

