.aboutLeftCol {
	position: absolute;
	z-index: 60;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 50%;
	/*background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);*/
	background: var(--color-fade-tr);
}
.aboutWhite {
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	padding-top: 25%;
	font-weight: bold;
}
.aboutRightCol {
	margin-left: 50%;
	height: 100vh;
	width: 50%;
	font-size: 20px;
	align: justify;
}
.aboutRightColContent {
	height: 100%;
	padding: 50px 100px 100px 100px;
	color: black;
	overflow-y: scroll;
}
.aboutHr {
	border-color: #fff;
	width: 50%;
}

.aboutLink {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}

.aboutLinks {
	position: absolute;
	left: 50%;
	bottom: 70px;
	width: 100%;
	text-align: center;
}
.about-link-content {
	position: relative;
	left: -50%;
}
.aboutLinksCorrection {
	position: absolute;
	left: 50%;
	bottom: 67px;
	width: 100%;
	text-align: center;
}
.about-link-hover{
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
	border-bottom: 3px solid var(--color2);
}
.about-intra-links {
	display: inline-block;

}
.hrLine {
	margin-top: 20px;
	margin-bottom: 20px;
}
.learn {
	letter-spacing: 3px;
	font-size: 15px;
}
.heading {
	font-weight: bold
}
