
@media (max-width: 1024px) {

	.work-left-col {
		height: 100vh;

		background: linear-gradient(to top right, #0000ff -5%, #66ccff 101%);
	}

	.work-left-col-content {
		letter-spacing: 2px;
		text-align: center;
		color: #fff;
		padding-top: 70%;
		font-weight: bold;

	}
	.work-hr {
		border-color: #737373;
		width: 100%;
		margin-top: 50px;
	}

	.work-links {
		margin-left: -20px;
		padding: 10px;
		margin-top: 250px;
	}
	.work-link {
		margin-left: 20px;
		display: inline-block;
		cursor: pointer;
	}
	.work-intra-links {
		display: inline-block;
	}

	.work-right-col {

	}
	.work-right-col-content {
		height: 100%;
		padding: 50px 50px 50px 50px;

		color: black;
		overflow-y: scroll;
	}
	.work-content-mobile {
		margin-top: 50px;
	}

	.mad-mobile-img {
		width: 100%;
	}
	.mad-mobile-logo-container{
		margin-top: 30px;
		width: 100%;
		text-align: center;
	}
	.mad-mobile-logo{
		width: 50%;
	}

	.mad-content {
		margin-top: 30px;
	}
	.parkupp-img {
		width: 100%;
		margin-top: 30px;
	}
	.parkupp-content {
		margin-top: 30px;
		margin-bottom: -10px;
	}
	.parkupp-logo-container{
		margin-top: -20px;
		width: 100%;
		text-align: center;
		margin-bottom: -20px;
	}
	.parkupp-logo{
		width: 50%;
	}
	.money-calls-img {
		width: 100%;
		margin-top: 30px;
	}
	.money-calls-content {
		margin-top: 30px;
	}
	.market-logo-container{
		margin-top: 30px;
		width: 100%;
		text-align: center;
	}
	.market-logo{
		width: 50%;
	}
	.galxybit-img {
		width: 100%;
		margin-top: 30px;
	}
	.galxybit-content {
		margin-top: 30px;
	}
	.gxb-logo-container{
		margin-top: 30px;
		width: 100%;
		text-align: center;
		font-size: 30px;
		margin-bottom: -20px;
		font-weight: bold;
	}
	.heading-mobile {
		color: #737373;
	}
}
