
@media (max-width: 1024px) {

	.work-left-col {
		height: 100vh;
		background: var(--color-fade-br);
	}

	.work-left-col-content {
		letter-spacing: 2px;
		text-align: center;
		color: #fff;
		padding-top: 10%;
		font-weight: bold;

	}
	.work-hr {
		border-color: #737373;
		width: 100%;
		margin-top: 50px;
	}

	.work-links {
		margin-left: -20px;
		padding: 10px;
		margin-top: 250px;
	}
	.work-link {
		display: inline-block;
		cursor: pointer;
	}
	.work-intra-links {
		display: inline-block;
	}

	.work-right-col {

	}
	.work-right-col-content {
		height: 100%;
		padding: 50px 50px 50px 50px;

		color: black;
		overflow-y: scroll;
	}
	.work-content-mobile {
		margin-top: 50px;
	}
	.heading-mobile {
		color: #737373;
	}
	.about-white {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%
    }
    .about-white2 {
        display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
        letter-spacing: 2px;
        text-align: center;
        color: #fff;
        padding-top: 40%;
        font-weight: bold;
    }
	.arrow-container {
		text-align: center;
		padding-bottom: 20px !important
	}
}
@media(max-width: 320px) {
	.arrow-container {
		text-align: center;
		padding-bottom: 10px !important
	}
}
