.workLeftCol {
	position: absolute;
	z-index: 60;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 50%;
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);	
}

.workLeftColContent {
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	padding-top: 25%;
	font-weight: bold;
}
.workHr {
	border-color: #fff;	
	width: 50%;
}
.workLinks {		
	position: absolute;
	left: 50%;
	bottom: 70px;
	width: 100%;		
	text-align: center;
}
.workLinksCorrection {		
	position: absolute;
	left: 50%;
	bottom: 67px;
	width: 100%;		
	text-align: center;
}
.work-link-content {
	position: relative;
	left: -50%;	
}
.workLink {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;	
}
.workLinkHover {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;		
	border-bottom: 3px solid white;
}


.work-intra-links {	
	display: inline-block;		
}

.workRightCol {
	margin-left: 50%;
	height: 100vh;
	width: 50%;
	font-size: 20px;
}
.workRightColContent {
	height: 100%;	
	color: black;
}
.scroller {
	height: 100%;
	padding: 50px 100px 100px 100px;
	overflow-y: scroll;
}

.mad-mobile-img {
	width: 100%;
}
.mad-content {
	margin-top: 30px;
}
.parkupp-img {
	width: 100%;
	margin-top: 30px;
}
.parkupp-content {
	margin-top: 30px;
}
.money-calls-img {
	width: 100%;
	margin-top: 30px;
}
.money-calls-content {
	margin-top: 30px;
}
.galxybit-img {
	width: 100%;
	margin-top: 30px;
}
.galxybit-content {
	margin-top: 30px;
}
