.work-left-col {
	height: 100vh;
	
	background: linear-gradient(to top right, #0000ff -5%, #66ccff 101%);		
}

.work-left-col-content {
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	padding-top: 70%;

}
.work-hr {
	border-color: #737373;	
	width: 100%;
	margin-top: 50px;
}

.work-links {
	margin-left: -20px;
	padding: 10px;
	margin-top: 250px;	
}
.work-link {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;	
}
.work-intra-links {	
	display: inline-block;		
}

.work-right-col {
	
}
.work-right-col-content {
	height: 100%;
	padding: 50px 50px 50px 50px;
	color: black;
	overflow-y: scroll;	
}
.work-content-mobile {
	margin-top: 50px;
}

.mad-mobile-img {
	width: 100%;
}
.mad-content {
	margin-top: 30px;
}
.parkupp-img {
	width: 100%;
	margin-top: 30px;
}
.parkupp-content {
	margin-top: 30px;
}
.money-calls-img {
	width: 100%;
	margin-top: 30px;
}
.money-calls-content {
	margin-top: 30px;
}
.galxybit-img {
	width: 100%;
	margin-top: 30px;
}
.galxybit-content {
	margin-top: 30px;
}
.heading-mobile {
	color: #737373;
}
