.contact-left-col {	
	height: 100vh;	
	background: linear-gradient(to top right, #808080 -5%, #f2f2f2 101%);
}

.contact-white {
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	padding-top: 70%;
}
.contact-hr {
	border-color: #fff;	
	width: 50%;
}

.contact-links {
	margin-left: -20px;
	padding: 10px;
	margin-top: 298px;	
}
.contact-link {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;

}
.contact-intra-links {	
	display: inline-block;	
	
}
.contact-right-col {
		
		
}
.contact-right-col-content {
	height: 100%;
	padding: 50px 50px 100px 50px;
	color: black;
	overflow-y: scroll;	

}
.contact-details-container {
	width: 100%;
	
}
.contact-details {
	font-weight: bold;
	
}
.contact-details-2 {
	font-weight: bold;
	
	
}
