.contactLeftCol {
	position: absolute;
	z-index: 60;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 50%;
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);	
}

.contactWhite {
	text-align: center;
	color: #fff;
	padding-top: 25%;
}
.contactHr {
	border-color: #fff;	
	width: 50%;
}

.contactLinks {
	margin-left: -20px;
	padding: 10px;
	margin-top: 250px;	
}
.contactLink {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;

}
.contact-intra-links {	
	display: inline-block;	
	
}
.contactRightCol {
	margin-left: 50%;
	height: 100vh;
	width: 50%;
	
}
.contactRightColContent {
	height: 100%;
	padding: 50px 100px 100px 100px;
	color: black;
	overflow-y: scroll;	

}

