.transition-container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;	
	overflow: hidden;
	z-index: 99;
}

.transition-first {
	position: absolute;
	top: 0px;
	left: -10px;
	height: 100vh;
	width: 10px;
	background-color: #ffc4b3;
	z-index: 52;
}
.transition-second {
	position: absolute;
	top: 0px;
	left: -10px;
	height: 100vh;
	width: 10px;
	background-color: #ffc4b3;
	z-index: 52;	
}
.transition-main {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100%;
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);
	z-index: 51;
}
.transition-content {
	width: 100%;
	text-align: center;
	margin-top: 20%;	
}
.name-tx {	
	display: inline-block;
	color: #fff;
	font-family: Josefin Sans;
		
	font-size: 25px;
}
.learn-tx {		
	color: #fff;
	font-family: Josefin Sans;
	
	font-size: 10px;
	letter-spacing: 2px;
	margin-top: -10px;
}