@media only screen  and  (max-width: 568px) {
	.landing-container {
		overflow-y: scroll;	
	}

	.activity{
		opacity: 1;
		text-align: center;
		margin-top: 20%;
	}
	.landing-home {
		overflow-x: hidden;
		overflow-y: scroll;	
		top: 0px;
		left: 0px;
		width: 100%;	
		z-index: 10;
	}

	.headingContainer {
		margin-top: 10%;
		text-align: left;		
	}

	.top-section {		
		height: 100vh;
		background: linear-gradient(to bottom right, #0000ff -5%, #66ccff 101%);
		text-align: center;		
		z-index: 1;		
	}
	.name {
		margin-top: 20px;
		font-size: 40px;
		color: #fff;
		display: inline-block;


	}
	.white-box {			
		margin-top: 30px;
		width: 100%;
		height: 100px;
		background-color: #fff;	
		z-index: 60;		
	}
	.me-mobile {	
		height: 250%;		
		opacity: 1;				
	}
	.pic {
		margin-top: 20px;
	}
	.hr-mobile {		
		border-color: #fff;
		width: 70%;
		margin-top: -90px;
		margin-bottom: 20px;
	}
	.summary-mobile{
		color: #fff;	
		width: 100%;						
		font-size: 20px;
		font-weight: bold
	}
	.summary-details {		
		
	}

	.links-mobile {
		margin-top: 250px;
		margin-left: -20px;
		letter-spacing: 2px;
		color: #fff;	
		font-weight: bold;				
	}
	.link-mobile {
		margin-left: 20px;
		display: inline-block;
		cursor: pointer;
	}
	.rocket {	
		height: 50px;
		margin-top: 25%;
	}
	.borderr {
		border: 1px solid red;
	}

	.about-home {		
		width: 100%;	
		z-index: 50;
		background: #fff
	}
	.work-home {		
		width: 100%;	
		z-index: 50;
		background: #fff
	}
	.contact-home {		
		width: 100%;	
		
		background: #fff
	}

	.the-rest {
		height: 500px;
	}
	.hamburger-container {
		position: fixed;
		top: 0px;
		width: 100%;
		text-align: right;
		z-index: 50;			
	}
	.hamburger {
		position: relative;
		right: -25px;
		top: 10px;
		z-index: 70;
		height: 25px;		
	}
	.hamburger-hexagon {
		position: relative;
		top: 10px;
		right: 10px;		
		z-index: 69;
		height: 45px;			
	}
	.menu-screen {
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100%;
		background-color: #fff;
		padding-top: 50%;
		z-index: 1;
		text-align: center;		
	}
	.link-mobile-menu {
		margin: 30px;
		color: #3265ff;
		font-family: Josefin Sans;
		font-weight: bold;		
	}
}