@media only screen  and  (max-width: 568px) {
	.landingContainer {
		overflow-x: hidden;
		text-align: center;
		margin-top: 30%;
	}
    .jk {
        margin-top: 80%;
		height: 200px;
		margin-bottom: -30px
    }
    .headingContainer {
        text-align: center;     
        
    }
    .activity{
    	opacity: 0.8;

    }


}