

.activity{
	opacity: 1;
	text-align: center;
	margin-top: 20%;
}
.landingHome {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}
.headingContainer {
	margin-top: 10%;
	text-align: left;
}
.topSection {
	height: 100vh;
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);
	text-align: center;
	z-index: 1;
}
.name-container {
	height: 100px;
	width: 98%;
}
.name {
	margin-top: 20px;
	font-size: 40px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
}
.landing-right-col-container {
	position: absolute;
	width: 53%;
	top: 23%;
	right: 0px;
	height: 420px;
	padding-top: 70px;
}
.me {
	height: 200%;
}
.hr {
	margin-top: 5px;
	opacity: 1;
	border-color: #fff;
	width: 400px;
}
.summary{
	color: #fff;
	width: 300px;
	text-align: left;
	margin-left: 13px;
}
.summary-details {
	margin-left: 10px;
	width: 400px;
	font-weight: bold;
}
.summary-details-text-wits {
	font-style: italic;
	margin-top: -10px
}
.links {
	position: absolute;
	bottom: 0px;
	letter-spacing: 2px;
	font-weight: bold;
}
.links-correction {
	position: absolute;

	bottom: -3px;
	letter-spacing: 2px;
	font-weight: bold;
}
.link {
	color: white;
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}
.link-hover {
	color: white;
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
	border-bottom: 3px solid white;
}

.whiteBox {
	position: absolute;
	top: 23%;
	left: -5%;
	width: 50%;
	height: 200px;
	background-color: #fff;
	z-index: 60;
	text-align: right;
}
.rocket {
	height: 100px;
	margin-top: 10%;
}
.borderr {
	border: 1px solid red;
}







.aboutHome {
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;
	background: #fff;

}
.workHome {
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;
	background: #fff
}
.contactHome {
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 50;
	background: #fff
}
















/*@media (min-width: 1000px)  and  (max-width: 1349px) {
	.summary{
		color: #fff;
		width: 300px;
		text-align: left;

		padding-left: 5px;
	}
}

@media (min-width: 1350px)  and  (max-width: 1549px) {
	.hr {
		opacity: 0;

		border-color: #fff;
		width: 400px;

		margin-bottom: 20px;
	}
	.summary{
		color: #fff;
		width: 300px;
		text-align: left;

		padding-left: 5px;
	}

	.links {
		letter-spacing: 2px;

		margin-top: 230px;
	}
	.link {
		margin-left: 20px;
		display: inline-block;
		cursor: pointer;
	}
}
@media (min-width: 1550px)  and  (max-width: 1749px) {
	.hr {
		opacity: 0;

		border-color: #fff;
		width: 400px;
		margin-top: -90px;
		margin-bottom: 20px;
	}
	.summary{
		color: #fff;
		width: 300px;
		text-align: left;

		padding-left: 5px;
	}

	.links {
		letter-spacing: 2px;

		margin-top: 230px;
	}
	.link {
		margin-left: 20px;
		display: inline-block;
		cursor: pointer;
	}
}
@media (min-width: 1750px)  and  (max-width: 3000px) {
	.hr {
		opacity: 0;

		border-color: #fff;
		width: 400px;
		margin-top: -90px;
		margin-bottom: 20px;
	}
	.summary{
		color: #fff;
		width: 300px;
		text-align: left;

		padding-left: 5px;
	}

	.links {
		letter-spacing: 2px;

		margin-top: 230px;
	}
	.link {
		margin-left: 20px;
		display: inline-block;
		cursor: pointer;
	}
}*/
