
.landingContainer {

	overflow-x: hidden;
	
	
}
.landingFlamingo {
	
	overflow-y: hidden;
	text-align: center;
	margin-top: 5%;
}
.landingHome {
	overflow-x: hidden;
	height: 2000px;
	top: 0px;
	left: 0px;
	width: 100%;
}

.headingContainer {
	margin-top: 10%;
	text-align: left;		
}
.leftCol {	
	background: url('../../../Assets/Images/jk.svg') no-repeat ;
    background-position: 100% 43%;
    background-size: cover;	
	border: 1px solid red;
	height: 100vh;
}
.rightCol {		
	border: 1px solid red;
	height: 100vh;
}
.flamingoContainer {
	margin-top: 5%;	
}
.flamingo {	
	height: 500px;
}
.activity{
	opacity: 0.8;
}
.borderr {
	border: 1px solid red;
}

