
.landingContainer {

	overflow-x: hidden;
	
	
}
.landingFlamingo {
	
	overflow-y: hidden;
	text-align: center;
	margin-top: 5%;
}
.landingHome {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	top: 0px;
	left: 0px;
	width: 100%;	
	z-index: 10;
}

.headingContainer {
	margin-top: 10%;
	text-align: left;		
}

.topSection {
	height: 100vh;
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);

	text-align: center;		
	z-index: 1;
}
.name {
	margin-top: 20px;
	font-size: 40px;
	color: #fff;
	display: inline-block
}
.whiteBox {
	position: absolute;
	top: 23%;
	left: -10%;
	width: 60%;
	height: 200px;
	background-color: #fff;	
	z-index: 99;
	text-align: right;
}
.me {	
	height: 220%;	
}
.hr {
	border-color: #fff;
}
.summary {
	position: absolute;
	top: 32%;
	left: 58%;
	width: 400px;
	text-align: left;
	color: #fff;
	
}
.summaryDetails {
	padding: 10px;	
}
.links {
	margin-left: -20px;
	padding: 10px;
	margin-top: 210px;	
}
.link {
	margin-left: 20px;
	display: inline-block;
	cursor: pointer;
}
.flamingoContainer {
	margin-top: 5%;	
}
.flamingo {	
	height: 500px;
}
.rocket {	
	height: 100px;
	margin-top: 10%;
}
.activity{
	opacity: 0.8;
}
.borderr {
	border: 1px solid red;
}

.aboutHome {
	background: linear-gradient(to top right, #0000ff 0%, #66ccff 100%);
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100vh;
	top: 0px;
	left: 0px;
	width: 100%;	
	z-index: 99;
}
